/* COMMON */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #f5f8f9 ;
}

.ml-5{
    margin-left:50px;
} 

/* HEADER */

.header{
    height:100px;
    background-color: white;
    line-height: 100px;
}

.header img{
    width: 60px;
    vertical-align: middle;
    margin-left:20px;
}

.logo-title{
    font-size:3em;
    font-weight:bold;
    vertical-align: middle;
}

/* CONTENT CONTAINER  */
.container{
    width:80%;
    margin: 0 auto;
    background-color: white;
}

/* NAV */
.nav{
    margin-top:50px;
    margin-bottom:5px;
    height: 80px;
    line-height:80px;
}

.button-nav{
    height:30px;
    width:100px;
    border-radius:5px;  
}

#button-nav-1{
    color:white;
    background-color: #46adf1;
    border-style: none;
    vertical-align: middle;
}

#button-nav-2{
    color:lightgray;
    background-color: white;
    border: solid lightgray;
    vertical-align: middle;
}
/* MAIN */

/* TABLE STYLE */
.list{
    padding-top:50px;
    padding-bottom: 50px;
}

ul{
    list-style: none;
    margin-bottom:20px;
}

.list h2:before{ 
    content:"\25be";
    width:5px;
}

li{
    line-height: 40px;
    font-size: 1.3em;
}

/* TABLE CONTENT ELEMENTS */

/* CHECK-CROSS */
.checked-list{
    display:inline-block;
    width:20px;
    height:20px;
    border: 1px solid green;
    border-radius: 50%;
    vertical-align: middle;
}

.check-symbol{
    color:green;
    font-size:.8em;
}


.crossed-list{
    color:red;
    font-size:.8em;

}

/* LABELS */

.label{
    font-size:.7em;
    padding:5px 8px 5px;
    border-radius:15px; 
    color:white;  
}

#label-editorial{
    border:#46adf1 1px solid;
    background-color: #46adf1;
}

#label-q1goals{
    border:#9c72e4 1px solid;
    background-color:#9c72e4;

}

#label-recruiting{
    border:#63c0a9 1px solid;
    background-color: #63c0a9;

}

#label-mobile{
    border:#f29e33 1px solid;
    background-color: #f29e33;

}

#label-website{

    border:#d763a1 1px solid;
    background-color: #d763a1;
}

#label-sales{
    border:#b0c925 1px solid;
    background-color: #b0c925;

}